body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Contenedor del iframe */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Permite interactuar con el contenido */
  z-index: -1; /* Detrás del contenido */
}

.video-background iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Contenido encima del video */
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 20%;
  font-size: 2em;
}

/* Estilos de la Barra de Navegación */
.navbar {
    background-color: #333;
    color: white;
    display: flex; /* Para alinear logo y enlaces */
    justify-content: space-between; /* Espacio entre logo y menú */
    align-items: center; /* Centra verticalmente */
    padding: 0 20px;
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    width: 100%;
    z-index: 100; /* Asegura que esté por encima de otros elementos */
    height: 60px; /* Altura de la barra */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Estilos de los Enlaces */
.nav-links {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none; /* Quita el subrayado */
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 4px;
}