body {
    font-family: 'Georgia', serif; /* Aplica a todo el cuerpo */
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.imagen {
  width: 30%;
  height: 50%;
  border-radius: 5%;
  align-items: flex-end;
}

.texto{
  align-items: flex-start;
}

  
/*Barra de navegación*/
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: lightblue;}

ul.topnav li a.active {background-color: rgb(86, 186, 220);}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
/*no tocar */